<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AffordableHouseFinderRevamp"
        tools:targetApi="31">
        <activity
            android:name=".Buyer.ChatBuyerActivity"
            android:exported="false" />
        <activity
            android:name=".Seller.ChatSellerActivity"
            android:exported="false" />
        <activity
            android:name=".Seller.SellerPropertyDetails"
            android:exported="false" />
        <activity
            android:name=".Seller.HouseListings"
            android:exported="false" />
        <activity
            android:name=".Buyer.BuyerProfile"
            android:exported="false" />
        <activity
            android:name=".Seller.SellerProfile"
            android:exported="false" />
        <activity
            android:name=".Buyer.Chat_Buyer"
            android:exported="false" />
        <activity
            android:name=".BuyerRegister"
            android:exported="false" />
        <activity
            android:name=".SellerRegister"
            android:exported="false" />
        <activity
            android:name=".Seller.UploadActivity"
            android:exported="false"
            android:label="@string/title_activity_upload"
            android:theme="@style/Theme.AffordableHouseFinderRevamp.NoActionBar" />
        <activity
            android:name=".Seller.Chat_Seller"
            android:exported="false" />
        <activity
            android:name=".Buyer.Bookmarks"
            android:exported="false" />
        <activity
            android:name=".Buyer.PropertyDetail"
            android:exported="false" />
        <activity
            android:name=".Buyer.Homepage"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>